* {
  background-color: #1d2022;
  color: #ffff;
  /* margin-left: 6vw; */
}
.a_h1 {
  text-decoration: none;
  color: rgb(255, 243, 136);
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  font-style: oblique;
  text-shadow: 1px 1.2px #e60b0b;
}
.p00 {
  position: absolute;
  width: 40vw;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 4vw 0 6vw;
}
.p00::first-letter {
  font-size: large;
  font-weight: bolder;
}
.p01::first-letter {
  font-size: large;
  font-weight: bolder;
}
.p01 {
  width: 40vw;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 6vw 0 54vw;
}
.div01 {
  margin-top: 2rem;
}
.ul00,
.ul01,
.ul02 {
  margin-left: 6vw;
  text-decoration: none;
  background: rgba(64, 75, 64, 0.7);
  border-radius: 2px;
  width: fit-content;
}
p.ul02 {
  background-color: rgb(23, 85, 85);
  font-weight: bold;
  padding: 4px;
}
.p02 {
  /* margin-top: 2rem 0 0 6vw; */
  color: #d9d9d9ff;
  text-decoration: underline;
  width: fit-content;
  background: rgba(52, 114, 68, 0.8);
  border: 1px rgb(60, 99, 73) solid;
}
